<div class="container">
    <div class="text-center">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 ">
            <h2>{{title}}</h2>
            <input type="text" #searchInput class="form-control" (keyup)="searchLinks.next(searchInput.value)">
        </div>
      </div>
      <div *ngIf=" links$ | async as links" class="text-center mt-4">
            <table class="table table-bordered" *ngIf="!links.error">
              <thead>
                <tr>
                  <th  ><button type="button" class="btn btn-light btn-block" (click)="sort(links, 'id')">id</button></th>
                  <th  ><button type="button" class="btn btn-light btn-block" (click)="sort(links, 'title')">Title</button></th>
                  <th ><button type="button" class="btn btn-light btn-block"  (click)="sort(links, 'description')">Description</button></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let link of links">
                  <td>
                   {{link.id}}
                  </td>
                  <td>
                    <a [href]="link.title">{{link.title}}</a>
                  </td>
                  <td>
                    {{link.description}}
                  </td>
                </tr>
              </tbody>
            </table>
            <p>total: {{links.length}}</p>
            <div *ngIf="links.error">
              <h3>Errors:</h3>
                   {{links.error}}
            </div>
      </div>
      <div  *ngIf="!searchService.isLoaded" >
          <app-spinner></app-spinner>
      </div>
    </div>
</div>

